.boton {
    background-color: royalblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.boton:hover {
    background-color: mediumblue;
    cursor: pointer;
}